.offical-bg {
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.bg-light-green{

    background-color:darken($color: #00CC99, $amount: 2)!important;
}

.br-ligth-green{

    border:1px solid darken($color: #00CC99, $amount: 2) !important;
    }

.txt-light-green {

    color: darken($color: #00CC99, $amount: 2) !important;
}
.bg-black{
    background-color: black!important ;
}

.bg-dark-green {
    background-color: $dark-green!important;
}

.bt-light-green{
    border-bottom: 1px solid $light-green;
}