.offical-bg {
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.bg-black{
    background-color: black!important ;
}

.bg-dark-green {
    background-color: $dark-green!important;
}